.background__img {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: url(/assets/images/background.JPG);
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
}
.inicio__titulo {
  display: flex;
  color: white;
  margin-bottom: 0.5em;
  line-height: 1em;
  cursor: pointer;
  touch-action: manipulation;
}

.inicio__titulo2 {
  color: white;
  font-size: 1em;
  padding: 0 0.5em;
}
.inicio__info {
  width: 1.1em;
  margin-left: 0.4em;
  margin-top: 0.3em;
}
.modal__overlay {
  position: fixed;
  top: 4em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__content {
  position: relative;
  background-color: #cfcfcf;
  padding: 1em;
  border-radius: 5px;
  max-width: 500px;
  max-height: 80vh;
  margin: 0.5em;
}
.modal__p {
  font-size: 1.2em;
  overflow-wrap: break-word;
}
.modal__button {
  background-color: brown;
  color: white;
  border-radius: 5px;
  padding: 0.2em 0.6em;
  margin-top: 1em;
  border: none;
  cursor: pointer;
}

.inicio__textos {
  display: flex;
  flex-direction: row;
  margin-top: -12em;
  font-size: 2em;
  padding: 0 1em;
}

.inicio__container {
  width: 100%;
  background-color: #c7d8d9;

  display: flex;
  flex-flow: column wrap;
}
.inicio__columna {
  display: flex;
  flex-flow: row;
  flex-basis: calc(50% - 2em);
  background-color: #c7d8d9;
  color: rgb(75, 68, 55);
}
.homeopatia {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgb(184, 181, 181);
  padding: 1em;
  color: brown;
  background-color: #c7d8d9;
}
.beneficios {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgb(184, 181, 181);
  padding: 1em;
  color: brown;
}
.inicio__img {
  width: 40%;
  height: 40%;
  padding: 1em;
  min-height: 5em;
  border-radius: 50px;
  background-size: cover;
}
.inicio__text {
  padding: 4em 1em 1em 1em;
  font-size: 1.1em;
  margin-bottom: 2em;
}

@keyframes scrollDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(0);
  }
}

.inicio__down {
  position: absolute;
  bottom: 30px;
  left: 10%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  border: 2px solid orange;
  border-radius: 50%;
  animation: scrollDown 1.5s infinite;
  z-index: 2;
}

.inicio__down::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
  animation: scrollDown 1.5s infinite;
  z-index: 2;
}

@media screen and (max-width: 1000px) {
  .inicio__container {
    flex-direction: column;
  }
  .inicio__columna {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .inicio__img {
    width: 80%;
  }
  .inicio__text {
    padding: 1em;
    margin-bottom: 2em;
  }
  .beneficios {
    margin-top: -2em;
  }
}

@media screen and (max-width: 585px) {
  .inicio__columna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .inicio__textos {
    display: flex;
    flex-flow: column;
    margin-top: -12em;
    font-size: 1.5em;
    padding: 0 1em;
  }
  .inicio__titulo2 {
    padding: 0 1.5em;
  }
  .inicio__info {
    width: 1.5em;
    margin: 0;
  }
  .info {
    margin: 0;
  }
}
