

.btn-wsp {
    width: 3em;
    position: fixed;
    bottom: 76%;
    right: 4%;
    border-radius: 50%;
    height: 5em;
}
.background__img {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: url('https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1517&q=80');
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.inicio__textos {
   margin-top: 25%;
  text-align: center;
   color: white;
   font-size: 2em;
   padding: 0 1em;
}
.inicio__titulo1 {
    font-size: 1em;
    line-height: 1.1em;
}
.inicio__titulo2 {
    margin-top: 10px;
    font-size: .5em;
}

.inicio__container {
    width: 100%;
    background-color: orange;

    display: flex;
    flex-flow: row wrap;
}
.inicio__columna {
    flex-basis: calc(50% - 2em);
    background-color: aqua;
    margin: 1em;
}
.inicio__columna .img {
    min-height: 5em;
    background-color: crimson;
}

@keyframes scrollDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(12px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .inicio__down {
    position: absolute;
    bottom: 80px;
    left: 49%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    border: 2px solid orange;
    border-radius: 50%;
    animation: scrollDown 1.5s infinite;
  }
  
  .inicio__down::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    animation: scrollDown 1.5s infinite;
  }
  

@media screen and (max-width: 1500px) {
    .inicio__container {
        flex-direction: column;
    }
}
